@import "./variables/colors.css";
@import "./reset.css";

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', Inter, Lato, sans-serif;
  transition: all .2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 1ms !important;
    transition-delay: 1ms !important;
  }
}

.text_primary {
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--text);
}

body {
  background-color: var(--background);
}

.dashboard-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}