.viewer360Container {
    width: calc(100% - 360px);
    height: 813px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: var(--background);
    cursor: grab;
    margin-inline-start: 120px;
    margin-inline-end: 240px;
    margin-bottom: 165px;

    @media screen and (max-width: 1440px) {
        width: calc(100% - 320px);
        margin-inline-start: 120px; 
        margin-inline-end: 200px;
        height: 500px;
    }

    &:active {
        cursor: grabbing;
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
        outline: none;
    }
}