.flag {
  position: relative;

  &__icon {
    border-radius: 8px;
    cursor: pointer;
    display: flex;

    &:hover {
      background: var(--black-background-light);
    }

    img {
      width: 24px;
      height: 15px;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 1;
    background: var(--white);
    border-radius: 8px;
    width: 120px;
    border: 1px solid var(--dark);
    overflow: hidden;

    &.active {
      height: 400px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 4px 8px;
      cursor: pointer;

      &:hover {
        background: var(--black-background-light);
      }
    }

    &-icon {
      width: 24px;
      height: 15px;
    }
  }
}